.bordarPanel {
	vertical-align: center;
	border: solid 1px #A6C9E2;
	border-radius: 5px;
}

.rodape {
	background-color: white;
	width: 99%;
	color: #2E90BD;
	height: 22px;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px 5px;
	text-align: center;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	background: #ffffff;
	color: black;
}


.tableSelecao{
	font-size: 10px;
	font: Courier New;
}

.toolbarCadastro {
	width: 100%;
	margin-left: 35px;
	margin-right: 37px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 16px;
}

.logotemplate {
	
	width: 101%;
	height: 160px;
	margin-left: -7px;
	margin-bottom: -3px;
	background-size: 100%;
    background-repeat: no-repeat;
}

.barrainformacao{
	background-color: #ffffff; 
	font-size: 10px;
	margin-left: -7px;
	margin-right: -7px;
	margin-top: -7px;
	width: 101%;
}

h1 {
	color: #2E90BD;
	font-size: 20px;
	font-family: Helvetica;
	margin-left: 35px;
}

.logologin {
	float: center;
	width: 100px;
	height: 150px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.login {
	background-image: url("../resources/img/background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-right: 45%;
	margin-left: 35%;
	margin-top: 10%;
	font-size: 13px;
	font: Courier New;
	float: center;
	}

.produto-tabela input {
	width: 298%;
}

.panellogin {
	margin-top: 100px;
	margin-left: 85px;
	min-width:
}

.botao {
	height: 25px;
	font: Arial;
	font-size: 20px;
}

.padrao {
	font-size: 12px;
	font: Courier New;
}

.rotulo {
	width: 150px;
}

.campo {
	width: 10px;
}

.painel {
	margin-top: 50px;
	margin-left: 50px;
}
.centro {
	align-items: center;
    margin-left: 100px;
}
