.logotemplate{
	width: 80px; 
	height: 120px;
	margin-bottom: 5px;
	background-color: black;
	
}
.logologin{
	width: 100px; 
	height: 150px;
	margin-bottom: 20px;
	margin-left: 55px;
	margin-top: 5px;
}
.login{
	background-image: url("../img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat; 
	margin-top: 205px;
    margin-right: 450px;
    margin-left:450px;
    font-size: 13px;
	font: Courier New;
}

.panellogin{
	margin-top: 100px;
	margin-left:85px;
}


.botao{
	height: 25px; 
	font: Arial;
	font-size: 20px;

}
.padrao {
	font-size: 15px;
	font: Courier New;
	margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    background-image: url("../img/back1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;  
}

.rotulo{
	width: 50px;
}
.campo{
	
}

.painel{
	margin-top: 50px;
	margin-left: 50px;
	
}

.tabelamenu{
	
}