.bordarPanel{
	vertical-align:top;
	border: solid 1px #A6C9E2;
    border-radius: 5px;
}

.logotemplate{
	width: 102%; 
	height: 150px;
	margin-left: -18px;
	margin-bottom: -5px;
	margin-top: -10px;
}

h1{
	color: #2E90BD;
	font-size: 20px;	
	font-family: Helvetica;
	margin-left:35px;
}

.logologin{
	width: 100px; 
	height: 150px;
	margin-bottom: 20px;
	margin-left: 55px;
	margin-top: 5px;
}
.login{
	background-image: url("../img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat; 
	margin-top: 205px;
    margin-right: 450px;
    margin-left:450px;
    font-size: 13px;
	font: Courier New;
}

.panellogin{
	margin-top: 100px;
	margin-left:85px;
	min-width:  
}


.botao{
	height: 25px; 
	font: Arial;
	font-size: 20px;

}
body {
	font-size: 12px;
	font: Courier New; 
}

.rotulo{
	width: 150px;
}
.campo{
	width: 50px;
}

.painel{
	margin-top: 50px;
	margin-left: 50px;
	